# configuration for master/CI branch
-
  branches:
    only:
      - master

  os: Visual Studio 2017
  configuration: Release
  environment:
    LIB_VERSION: '1.1.0' 
#  before_build: 
#    - ps: .\install.ps1
#  build_script:
#  - ps: .\build.ps1
  build:
    project: LyraElectronics.Core.sln
    verbosity: minimal
  artifacts:
  - path: '**\LyraElectronics.Core.*.nupkg'

  version: 1.1.0-ci{build}
  deploy:
  - provider: NuGet
    api_key:
      secure: dsbeCFKqWtfS6hXyzapgVEkVbh6o0TQpW6CfuNGuYDvKCu2b7cW8i3vi5b8/sIi7

# configuration for release branch
-
  branches:
    only:
      - release

  os: Visual Studio 2017
  configuration: Release
  environment:
    LIB_VERSION: '1.1.0' 
  before_build: 
    - ps: .\install.ps1
  build_script:
  - ps: .\build.ps1
  build:
    project: LyraElectronics.Core.sln
    verbosity: minimal
  artifacts:
  - path: '**\LyraElectronics.Core.*.nupkg'

  version: 1.1.0.{build}
  deploy:
  - provider: NuGet
    api_key:
      secure: dsbeCFKqWtfS6hXyzapgVEkVbh6o0TQpW6CfuNGuYDvKCu2b7cW8i3vi5b8/sIi7
